[Unit]
  Description=Ambari Server
  After=network.target
  [Service]
  Type=forking
  ExecStartPre=/bin/sleep 30
  ExecStart=/usr/sbin/ambari-server start
  ExecStop=/usr/sbin/ambari-server stop
  [Install]
  WantedBy=multi-user.target