[Unit]
  Description=Ambari Server
  After=network.target


[Service]
  Type=forking
  PIDFile=/var/run/ambari-server/ambari-server.pid
  {% if run_as_non_root_user is defined %}
User={{ run_as_non_root_user }}
  {% endif %}
  ExecStart=/usr/sbin/ambari-server start
  ExecStop=/usr/sbin/ambari-server stop

[Install]
  WantedBy=multi-user.target